In [4]:
import pandas as pd
import json

### Rumor Eval 2019 Dataset

In [2]:
rumor_eval_train = '/data/rumor_detection/data/rumour_eval_2019/rumoureval-2019-training-data/train-key.json'
rumor_eval_dev = '/data/rumor_detection/data/rumour_eval_2019/rumoureval-2019-training-data/dev-key.json'

In [6]:
train_file = open(rumor_eval_train)
train_data = json.load(train_file)
train_file.close()

In [14]:
print("Size of training data task A:", len(train_data['subtaskaenglish']))

Size of training data task A: 5217

In [16]:
print('Size of training data task B:', len(train_data['subtaskbenglish']))

Size of training data task B: 327

In [17]:
dev_file = open(rumor_eval_dev)
dev_data = json.load(dev_file)
dev_file.close()

In [19]:
print("Size of dev data task A:", len(dev_data['subtaskaenglish']))
print('Size of dev data task B:', len(dev_data['subtaskbenglish']))

Size of dev data task A: 1485
Size of dev data task B: 38

### PHEME Dataset

In [3]:
from src.data import pheme_dataloader_baseline

ModuleNotFoundError: No module named '__main__.src'; '__main__' is not a package

### Zenodo

In [6]:
df = pd.read_excel('/data/rumor_detection/data/zenodo/DATASET_R1.xlsx')

In [7]:
df.head()

,ID,Description,#Tweets,Date_time_creation_account,Language,#Followers,#Friends,Date&Time,#Favorite,#Retweet,Another Tweet Inside,Source,Tweet ID,Retweet ID,Quote ID,Reply ID,Frequency of tweet occurrences,State of Tweet
0,2752994783,// Kirby// they/them // 20 // ENG: ok // FR: ok,2822,"2014 , Aug , 28 , 01:49:22",en,34,68,"['2017', 'Dec', '15', '15:42:41']",0,250,0,iPhone,941695012122910720,940977667104477185,Not a quote,None,213.0,r
1,21571977,Follow us for the latest headlines across the ...,3085,"2009 , Feb , 22 , 15:32:48",en,21083,31,"['2017', 'Dec', '15', '15:37:51']",0,0,0,iPhone,941693798056280064,Not a Retweet,Not a quote,None,1,n
2,3382041618,Growing minds... Changing lives.,46,"2015 , Aug , 29 , 13:45:01",en,82,68,"['2017', 'Dec', '15', '15:37:37']",0,0,0,iPhone,941693735678758912,Not a Retweet,Not a quote,None,1,n
3,348478568,NaN,2007,"2011 , Aug , 04 , 14:08:52",en,26,270,"['2017', 'Dec', '15', '15:37:16']",0,0,0,Client,941693648634372097,Not a Retweet,Not a quote,None,1,n
4,724097168152367104,One does not simply un-FeelTheBern! ðŸ”¥,13050,"2016 , Apr , 24 , 04:46:32",en,166,287,"['2017', 'Dec', '15', '15:35:34']",0,151,0,iPhone,941693221704536064,941044904742006786,Not a quote,None,140.0,a

In [9]:
df[df['Retweet ID'] == 'Not a Retweet']['State of Tweet'].value_counts()

n    2334
a     890
r     135
q      12
Name: State of Tweet, dtype: int64